<!DOCTYPE html>
<html ng-app="app">
    <head>

        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval'; ">
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <title>Reading Time</title>
    </head>
    <body>
        
        <header class="header">
            Reading Time
            <!--<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-lg fa-sort-amount-desc" aria-hidden="true"></i></a>-->
        </header>

        <section class="view" ng-view>
        </section>

        <nav class="nav" ng-controller="navController">
            <a href="#library" ng-click="menu='library'" ng-class="{active: menu=='library'}"><i class="fa fa-lg fa-book" aria-hidden="true"></i>
            <a href="#search" ng-click="menu='search'" ng-class="{active: menu=='search'}"><i class="fa fa-lg fa-plus" aria-hidden="true"></i></a>
        </nav>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/dbHandler.js"></script>
        <script type="text/javascript" src="js/controller/navController.js"></script>
        <script type="text/javascript" src="js/controller/libraryController.js"></script>
        <script type="text/javascript" src="js/controller/searchController.js"></script>
    </body>
</html>
