<section ng-controller="searchController" class="panel search">

	<p>veuillez entrer un numéro ISBN, ou scanner le code bar de votre livre</p>


  	<form id="searchForm" ng-submit="search()">
		<input id="isbn" type="number" min="0" placeholder="Numéro ISBN" ng-model="isbnInput" required>
		<div class="leftBox">
			<button type="button" class="btn waves-effect waves-light" ng-click="scan()">
				<i class="ic_camera fa fa-camera" aria-hidden="true"></i>
				Scanner
		  	</button>
		</div>
		<div class="rightBox">
			<button type="submit" class="btn waves-effect waves-light">
				Rechercher
				<i class="ic_send fa fa-paper-plane" aria-hidden="true"></i>
		  	</button>
	  	</div>
	</form>

</section>