<section class="panel">
	<div id="book-list">
        <div class="cell">
            <i class="favorite on fa fa-star" aria-hidden="true"></i>
            <div class="poster">
                <img src="img/harry_potter_1.jpg">
            </div>
            <div class="infos">
                <div class="title">Harry Potter à l'école des sorciers </div>
                <div class="author">J.K Rowling</div>
                <div class="other">
                    <div class="saw">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="rate">
                        <span class="nb1">1</span> / <span class="nb2">10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <i class="favorite fa fa-star" aria-hidden="true"></i>
            <div class="poster">
                <img src="img/harry_potter_1.jpg">
            </div>
            <div class="infos">
                <div class="title">Harry Potter à l'école des sorciers</div>
                <div class="author">J.K Rowling</div>
                <div class="other">
                    <div class="saw">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="rate">
                        <span class="nb1">2</span> / <span class="nb2">10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <i class="favorite fa fa-star" aria-hidden="true"></i>
            <div class="poster">
                <img src="img/harry_potter_1.jpg">
            </div>
            <div class="infos">
                <div class="title">Harry Potter à l'école des sorciers</div>
                <div class="author">J.K Rowling</div>
                <div class="other">
                    <div class="saw">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="rate">
                        <span class="nb1">9</span> / <span class="nb2">10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <i class="favorite fa fa-star" aria-hidden="true"></i>
            <div class="poster">
                <img src="img/harry_potter_1.jpg">
            </div>
            <div class="infos">
                <div class="title">Harry Potter à l'école des sorciers</div>
                <div class="author">J.K Rowling</div>
                <div class="other">
                    <div class="saw">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="rate">
                        <span class="nb1">7</span> / <span class="nb2">10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>